@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 99%;
    --foreground: 240 31% 7%;
    --card: 240 20% 99%;
    --card-foreground: 240 31% 7%;
    --popover: 240 20% 99%;
    --popover-foreground: 240 31% 7%;
    --primary: 242 31% 51%;
    --primary-foreground: 240 20% 99%;
    --secondary: 67 32% 74%;
    --secondary-foreground: 240 31% 7%;
    --muted: 240 20% 20%;
    --muted-foreground: 240 31% 70%;
    --accent: 130 32% 61%;
    --accent-foreground: 240 31% 7%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 240 31% 7%;
    --border: 240 20% 20%;
    --input: 240 20% 20%;
    --ring: 130 32% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 20% 1%;
    --foreground: 240 31% 93%;
    --card: 240 20% 1%;
    --card-foreground: 240 31% 93%;
    --popover: 240 20% 1%;
    --popover-foreground: 240 31% 93%;
    --primary: 242 31% 49%;
    --primary-foreground: 240 31% 93%;
    --secondary: 67 32% 26%;
    --secondary-foreground: 240 31% 93%;
    --muted: 240 20% 80%;
    --muted-foreground: 240 31% 93%;
    --accent: 130 32% 39%;
    --accent-foreground: 240 20% 1%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 240 29% 10%;
    --border: 240 20% 60%;
    --input: 240 20% 80%;
    --ring: 130 32% 60%;
  }
}

/* These styles are being used by shadcn */
@layer base {
  * {
    @apply border-border;
  }
}
